<!-- templates/partials/navbar.html -->

<nav style="background-color: rgb(199, 211, 204);"class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a style="font-size: 25px; color: white;"class='navbar-brand' href='/'>
                Playlister
            </a>
        </div>
        <div class='pull-right'>
            <a style="color:rgb(250, 247, 245);font-size: 18px;" href='/playlists/new' class='btn btn-default navbar-btn'>New Playlist</a>
        </div>
    </div>
</nav>