{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div style='margin-top: 40px; background-color: rgb(240, 234, 223);' class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/playlists'>
            {% include 'partials/playlists_form.html' %}
            <div class='form-group'>
                <button style='background-color: rgb(162, 172, 161); border-color: rgb(162, 172, 161);' class='btn btn-primary' type='submit'>Save Playlist</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}